.edit-message-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    visibility: visible;
    opacity: 1;
  }
  
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  text-align: center;
}
  
.modal__footer {
  text-align: right;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
  
.edit-message-input {
  display: block;
  width: 100%;
  height: 6em;
  margin-bottom: 1em;
  resize: none;
}
  
.edit-message-button {
  display: inline-block;
  margin-right: 20px;
}
