.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.message-content {
  display: grid;
}

.message {
  justify-items: start;
  margin-bottom: 20px;
}

.message .message-content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 15px;
}

.message-row img {
  border-radius: 100%;
  grid-row: span 2;
}

.message-time {
  font-size: 1.3rem;
  color: #777;
}

.message-text {
  padding: 9px 14px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.message .message-text {
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}

.message-user-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.message-like, .message-liked {
  width: 70px;
  text-align: center;
  border: 2px solid #0048AA;
  padding: 8px 0;
  border-radius: 14px;
  cursor: pointer;
}

.message-like {
  background-color: white;
}

.message-liked {
  background-color: #0048AA;
  color: white;
}
