.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 20px;
}
